.hero {
  width: 1110px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.introducing {
  color: #222831;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.stroke {
  width: 73px;
  height: 2px;
  flex-shrink: 0;
  background: var(--Color-Black, #222831);
  margin-top: 17px;
  margin-bottom: 11px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slogan {
  margin-top: 10px;
  width: 667px;
}

.slogan1 {
  display: inline;
  color: #dc913f;
  font-family: Lora;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.slogan2 {
  display: inline;
  color: #10375c;
  font-family: Lora;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about {
  margin-top: 20px;
  color: #6a6a6a;
  width: 382px;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.img-slider {
  position: absolute;
  right: 0;
  left: 200px;
  top: 400px;
}

.search-form {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 140vw;
    margin-top: 50px;
    padding: 0 32px;
  }

  .intro {
    width: 120vw;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .content {
    flex-direction: column;
    gap: 10px;
    width: 120vw;
    margin: 0 auto;
  }

  .slogan {
    width: 120vw;
    margin: 0 auto;
  }

  .img-slider {
    width: 120vw;
    height: 40vh;
    margin: 200px auto;
    left: 16vw;
  }

  .search-form{
    width: 120vw;
    margin: 0 auto;
    margin-left: 16vw;
  }
}
